// Variable overrides

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "dark": #ffffff
);
$sidebar-dark-nav-link-hover-color:        #ffffff !default;
$sidebar-dark-nav-link-hover-bg:          theme-color("primary") !default;
$sidebar-dark-nav-link-hover-icon-color:  #ffffff !default;